##### "Learn PySpark - Build Python-based Machine Learning and Deep Learning Models - Pramod Singh"

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\KonuTech\\Downloads'

In [3]:
os.chdir('C:\\Users\\KonuTech\\Downloads\\spark-intro-courses\\learn-pyspark-master\\learn-pyspark-master\\chap_2')

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BCC0-49D8

 Directory of C:\Users\KonuTech\Downloads\spark-intro-courses\learn-pyspark-master\learn-pyspark-master\chap_2

13.02.2021  13:13    <DIR>          .
13.02.2021  13:13    <DIR>          ..
10.09.2019  15:45             6 148 .DS_Store
10.09.2019  15:45           132 715 customer_data.csv
10.09.2019  15:45            66 353 Data Processing .ipynb
               3 File(s)        205 216 bytes
               2 Dir(s)  119 545 438 208 bytes free

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("data_processing").getOrCreate()

In [7]:
import pyspark.sql.functions as F

In [8]:
from pyspark.sql.types import *

In [9]:
schema = StructType().add("user_id", "string").add("country", "string").add("browser", "string").add("OS", "string").add("age", "integer")

In [10]:
df = spark.createDataFrame([("A203", "India", "Chrome", "WIN", 33), ("A201", "China", "Safari", "MacOS", 35), ("A205", "UK", "Mozilla", "Linux", 25)], schema=schema)

In [11]:
df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- country: string (nullable = true)
 |-- browser: string (nullable = true)
 |-- OS: string (nullable = true)
 |-- age: integer (nullable = true)

In [12]:
df.show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|  India| Chrome|  WIN| 33|
|   A201|  China| Safari|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [13]:
df_na = spark.createDataFrame([("A203", None, "Chrome", "WIN", 33), ("A201", "China", None, "MacOS", 35), ("A205", "UK", "Mozilla", "Linux", 25)], schema=schema)

In [14]:
df_na.show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|   null| Chrome|  WIN| 33|
|   A201|  China|   null|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [15]:
df_na.fillna("0").show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|      0| Chrome|  WIN| 33|
|   A201|  China|      0|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [16]:
df_na.summary().show()

+-------+-------+-------+-------+-----+-----------------+
|summary|user_id|country|browser|   OS|              age|
+-------+-------+-------+-------+-----+-----------------+
|  count|      3|      2|      2|    3|                3|
|   mean|   null|   null|   null| null|             31.0|
| stddev|   null|   null|   null| null|5.291502622129181|
|    min|   A201|  China| Chrome|Linux|               25|
|    25%|   null|   null|   null| null|               25|
|    50%|   null|   null|   null| null|               33|
|    75%|   null|   null|   null| null|               35|
|    max|   A205|     UK|Mozilla|  WIN|               35|
+-------+-------+-------+-------+-----+-----------------+

In [17]:
df_na.fillna({"country": "USA", "browser": "Safari"}).show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|    USA| Chrome|  WIN| 33|
|   A201|  China| Safari|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [18]:
df_na.na.drop().show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [19]:
df_na.na.drop(subset="country").show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A201|  China|   null|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [20]:
df_na.na.drop(subset="country").show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A201|  China|   null|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [21]:
df_na.replace("Chrome", "Google Chrome").show()

+-------+-------+-------------+-----+---+
|user_id|country|      browser|   OS|age|
+-------+-------+-------------+-----+---+
|   A203|   null|Google Chrome|  WIN| 33|
|   A201|  China|         null|MacOS| 35|
|   A205|     UK|      Mozilla|Linux| 25|
+-------+-------+-------------+-----+---+

In [22]:
df_na.drop("user_id").show()

+-------+-------+-----+---+
|country|browser|   OS|age|
+-------+-------+-----+---+
|   null| Chrome|  WIN| 33|
|  China|   null|MacOS| 35|
|     UK|Mozilla|Linux| 25|
+-------+-------+-----+---+

In [23]:
os.getcwd()

'C:\\Users\\KonuTech\\Downloads\\spark-intro-courses\\learn-pyspark-master\\learn-pyspark-master\\chap_2'

In [24]:
df = spark.read.csv("customer_data.csv", header=True, inferSchema=True)

In [25]:
df.count()

2000

In [26]:
len(df.columns)

7

In [27]:
df.printSchema()

root
 |-- Customer_subtype: string (nullable = true)
 |-- Number_of_houses: integer (nullable = true)
 |-- Avg_size_household: integer (nullable = true)
 |-- Avg_age: string (nullable = true)
 |-- Customer_main_type: string (nullable = true)
 |-- Avg_Salary: integer (nullable = true)
 |-- label: integer (nullable = true)

In [28]:
df.show(3)

+--------------------+----------------+------------------+-----------+--------------------+----------+-----+
|    Customer_subtype|Number_of_houses|Avg_size_household|    Avg_age|  Customer_main_type|Avg_Salary|label|
+--------------------+----------------+------------------+-----------+--------------------+----------+-----+
|Lower class large...|               1|                 3|30-40 years|Family with grown...|     44905|    0|
|Mixed small town ...|               1|                 2|30-40 years|Family with grown...|     37575|    0|
|Mixed small town ...|               1|                 2|30-40 years|Family with grown...|     27915|    0|
+--------------------+----------------+------------------+-----------+--------------------+----------+-----+
only showing top 3 rows

In [29]:
df.summary().show()

+-------+--------------------+------------------+------------------+-----------+--------------------+-----------------+------------------+
|summary|    Customer_subtype|  Number_of_houses|Avg_size_household|    Avg_age|  Customer_main_type|       Avg_Salary|             label|
+-------+--------------------+------------------+------------------+-----------+--------------------+-----------------+------------------+
|  count|                2000|              2000|              2000|       2000|                2000|             2000|              2000|
|   mean|                null|            1.1075|            2.6895|       null|                null|     1616908.0835|            0.0605|
| stddev|                null|0.3873225521186316|0.7914562220841646|       null|                null|6822647.757312146|0.2384705099001677|
|    min|Affluent senior a...|                 1|                 1|20-30 years|      Average Family|             1361|                 0|
|    25%|                null|                 1|                 2|       null|                null|            20315|                 0|
|    50%|                null|                 1|                 3|       null|                null|            31421|                 0|
|    75%|                null|                 1|                 3|       null|                null|            42949|                 0|
|    max| Young, low educated|                10|                 5|70-80 years|Successful hedonists|         48919896|                 1|
+-------+--------------------+------------------+------------------+-----------+--------------------+-----------------+------------------+