In [3]:
pip install requests

Requirement already satisfied: requests in c:\programdata\anaconda3\envs\tf\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from requests) (1.26.2)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from requests) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.8.7-py3-none-any.whl (24 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.7
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install "colorama>=0.3.8"

Requirement already satisfied: colorama>=0.3.8 in c:\programdata\anaconda3\envs\tf\lib\site-packages (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install future

Requirement already satisfied: future in c:\programdata\anaconda3\envs\tf\lib\site-packages (0.18.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip uninstall h2o

Note: you may need to restart the kernel to use updated packages.

WARNING: Skipping h2o as it is not installed.

In [8]:
pip install -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o

Looking in links: http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html
Collecting h2o
  Downloading h2o-3.32.0.4.tar.gz (164.6 MB)
Requirement already satisfied: requests in c:\programdata\anaconda3\envs\tf\lib\site-packages (from h2o) (2.25.1)
Requirement already satisfied: tabulate in c:\programdata\anaconda3\envs\tf\lib\site-packages (from h2o) (0.8.7)
Requirement already satisfied: future in c:\programdata\anaconda3\envs\tf\lib\site-packages (from h2o) (0.18.2)
Requirement already satisfied: colorama>=0.3.8 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from h2o) (0.4.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from requests->h2o) (1.26.2)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from requests->h2o) (2020.12.5)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py): started
  Building wheel for h2o (setup.py): finished with status 'done'
  Created wheel for h2o: filename=h2o-3.32.0.4-py2.py3-none-any.whl size=164670979 sha256=01bd6b8354bf6437ec9fc82f8bbda4e47945ad1d8613dc2ba7e3686b8b181357
  Stored in directory: c:\users\konutech\appdata\local\pip\cache\wheels\e6\0d\48\064de7f50a0e16e6a10c5b22a8e8fd3ef371a84b146b6e5a3e
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.32.0.4
Note: you may need to restart the kernel to use updated packages.

WARNING: The repository located at h2o-release.s3.amazonaws.com is not a trusted or secure host and is being ignored. If this repository is available via HTTPS we recommend you use HTTPS instead, otherwise you may silence this warning and allow it anyway with '--trusted-host h2o-release.s3.amazonaws.com'.

In [1]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         8 mins 20 secs
H2O_cluster_timezone:       Europe/Belgrade
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.4
H2O_cluster_version_age:    12 days
H2O_cluster_name:           H2O_from_python_KonuTech_ootnt2
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    440.7 Mb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.5 final
--------------------------  ---------------------------------------------------------

In [10]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         18 mins 50 secs
H2O_cluster_timezone:       Europe/Belgrade
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.4
H2O_cluster_version_age:    12 days
H2O_cluster_name:           H2O_from_python_KonuTech_ootnt2
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    418.4 Mb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.5 final
--------------------------  ---------------------------------------------------------

In [41]:
dataSet = 'https://raw.githubusercontent.com/DarrenCook/h2o/bk/datasets/'

In [42]:
data = h2o.import_file(dataSet + "iris_wheader.csv", header=1, sep=",")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [43]:
data

sepal_len,sepal_wid,petal_len,petal_wid,class
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa

In [44]:
y="class"

In [45]:
x = data.names

In [46]:
y

'class'

In [47]:
x

['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']

In [48]:
train, test = data.split_frame([0.8])

In [49]:
m = h2o.estimators.deeplearning.H2ODeepLearningEstimator()

In [51]:
m.train(x, y, train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [53]:
p = m.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [54]:
m

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1613242237660_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41Â 803 weights/biases, 498,2 KB, 1Â 140 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00463646,0.00351608,0,0.00315232,0.108493,0.49414,0.00882717
2,,3,200,Rectifier,0,0,0,0.0270706,0.114026,0,-0.002077,0.0703479,0.996864,0.00684287
3,,4,3,Softmax,,0,0,0.0187962,0.115366,0,0.0199616,0.402453,-0.00140234,0.000294661

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.06463774805014935
RMSE: 0.254239548556375
LogLoss: 0.25401400493665965
Mean Per-Class Error: 0.06818181818181819
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         35.0              0.0             0.0  0.000000   0 / 35
1          0.0             35.0             0.0  0.000000   0 / 35
2          0.0              9.0            35.0  0.204545   9 / 44
3         35.0             44.0            35.0  0.078947  9 / 114

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.921053
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error,training_auc,training_pr_auc
0,,2021-02-13 20:19:55,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2021-02-13 20:19:55,1.861 sec,1085 obs/sec,1.0,1,114.0,0.606647,1.931737,0.464112,0.394737,NaN,NaN
2,,2021-02-13 20:19:57,1.988 sec,4978 obs/sec,10.0,10,1140.0,0.254240,0.254014,0.905879,0.078947,NaN,NaN

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.256509
1  petal_len             0.998179           0.998179    0.256042
2  sepal_len             0.966961           0.966961    0.248034
3  sepal_wid             0.933355           0.933355    0.239414

In [55]:
m.mse()

0.06463774805014935

In [57]:
m.confusion_matrix(train)

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         35.0              0.0             0.0  0.000000   0 / 35
1          0.0             35.0             0.0  0.000000   0 / 35
2          0.0              9.0            35.0  0.204545   9 / 44
3         35.0             44.0            35.0  0.078947  9 / 114